*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
body{
    background: url("https://source.unsplash.com/1600x900?nature");
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
h1{
    color: white;
    text-align: center;
    margin: 20px;
    background: rgba(0,0,0,.5);
    padding:10px 20px;
}
a{
    color: black;
}
.container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
}
.searching{
    width: 150px;
    margin:0 auto;
}

/* Diffrent styles of flex styles */
.flexCenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}
.flexSpaceAround{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.pokemon{
    width: 300px;
    background: rgba(255,255,255,.5);
    height: 300px;
    margin: 10px;
    position: relative;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
}
.pokemon:hover{
    transform: scale(1.05);
    background: rgba(255,255,255,.95);
}
img.mainImage{
    width: 100px;
}
.allImages{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allImages > img{
    width: 50px;
    cursor: pointer;
}
.detailsContainer{
    position: relative;
    color: white;
    background: white;
    width: 400px;
    height: 400px;
    margin:50px auto;   
}
h2{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* Filter styling */
.range{
    width: 80%;
    background: rgba(255,255,255,.5);
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-between;
}

/* Detail page */
h2.detailTitle{
    width: 100%;
    background: rgba(0,0,0,.5);
}
.detail_mainImage{
    width: 150px;
}

.hoverAnimation{
    animation: upAndDown 1s infinite;
}

/* Error Page */
.error{
    color: red;
    width: 500px;
    height: 100px;
    background: rgba(255,255,255,.9);
    margin: 20px;
}
.error h2{
    position: relative;
}


@keyframes upAndDown{
    0%{transform: translate(0,0)}
    50%{transform: translate(0,-10px)}
    100%{transform: translate(0,0)}
}